# Ignore gradle files and folders at the root
/.gradle/
/gradle/
/gradlew
/gradlew.bat

# Ignore bin folders at the root of each project
/*/bin/
/*/bin_test/

# Ignore build folders at the root of each project
/*/build/

# Ignore generated folders at the root of each project
/*/generated/

# Compiled class files
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# MacOS Garbage
.DS_Store
/*/.DS_Store
