name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        java-version: [ '17', '18', '19', '20', '21', '22', '23' ]

    runs-on: ubuntu-latest

    steps:
    - name: Checkout project
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    # Strip -ea off of java-version for build-time use
    - name: Strip java-version postfix
      id: strip
      env:
        JAVA_VERSION: ${{ matrix.java-version }}
      run: |
        echo "java-version=${JAVA_VERSION%-ea}" >> $GITHUB_OUTPUT

    # Gradle 8.X no longer uses a default repository for toolchains.
    # Ref: https://docs.gradle.org/current/userguide/upgrading_version_7.html#using_automatic_toolchain_downloading_without_having_a_repository_configured
    # Always preload toolchain JDK
    - name: Preload JDK ${{ matrix.java-version }}
      uses: actions/setup-java@7a6d8a8234af8eb26422e24e3006232cccaa061b # v4.6.0
      with:
        java-version: ${{ matrix.java-version }}
        distribution: 'oracle'

    # This is the JDK gradle will use since gradle does not always support the -ea version
    - name: Set up JDK 17
      uses: actions/setup-java@7a6d8a8234af8eb26422e24e3006232cccaa061b # v4.6.0
      with:
        java-version: '17'
        distribution: 'oracle'
        cache: gradle    

    - name: Toolchain debug
      run: |
        ./gradlew -q javaToolchains

    - name: Build application
      run: |
        ./gradlew io.openliberty.java.internal_fat_${{ steps.strip.outputs.java-version }}:build

    - name: Verify application
      run: |
        ./.github/workflows/scripts/verifyArtifact.sh ${{ steps.strip.outputs.java-version }}

    - name: Repackage application
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      run: |
        ./.github/workflows/scripts/repackageApplication.sh io.openliberty.java.internal_fat_${{ steps.strip.outputs.java-version }}/build/libs/io.openliberty.java.internal_fat_${{ steps.strip.outputs.java-version }}.war .jar
    
    - name: Upload application
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
      with:
        name: io.openliberty.java.internal_fat_${{ steps.strip.outputs.java-version }}
        path: io.openliberty.java.internal_fat_${{ steps.strip.outputs.java-version }}/build/libs/io.openliberty.java.internal_fat_${{ steps.strip.outputs.java-version }}.jar
        if-no-files-found: error
